services:
#MariaDB Container
  mariadb:
    image: mariadb:10.7
    container_name: mariadb
    hostname: mariadb
    volumes:
      - /var/lib/mysql:/var/lib/mysql
    env_file:
      - ./mariadb.env
    restart: always

#GLPI Container
  glpi:
    image: sule26/glpi-container:development
    container_name : glpi
    build:
      dockerfile: ./Dockerfile
    ports:
    environment:
      - TIMEZONE=America/Sao_Paulo
    restart: always
